<div id="wrapper">
  <%= if Guardian.Plug.authenticated?(@conn) do %>
    <%= render "_header.html", conn: @conn %>
    <%= render "_sidebar.html", conn: @conn %>
  <% end %>
    <%= render @view_module, @view_template, assigns %>
</div>
